@model IEnumerable<BuildSeller.Core.Model.Subscribe>

@{
    ViewBag.Title = "ShowSubscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowSubscriptions</h2>

<h2>@Html.Raw(@ViewBag.Message)</h2>
<p>
    @Html.ActionLink("Subscribe on new", "Index", "Subscribes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Unsubscribe", "UnSubscribe", "Subscribes", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>