@model BuildSeller.Models.RealtySearchModel

@{
    ViewBag.Title = "SearchSameRealties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchSameRealties</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RealtySearchModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PriceLow, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceLow)
                @Html.ValidationMessageFor(model => model.PriceLow)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceHigh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceHigh)
                @Html.ValidationMessageFor(model => model.PriceHigh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SquareLow, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SquareLow)
                @Html.ValidationMessageFor(model => model.SquareLow)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SquareHigh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SquareHigh)
                @Html.ValidationMessageFor(model => model.SquareHigh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Town, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Town)
                @Html.ValidationMessageFor(model => model.Town)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsForRent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsForRent)
                @Html.ValidationMessageFor(model => model.IsForRent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedLow, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedLow)
                @Html.ValidationMessageFor(model => model.CreatedLow)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedHigh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedHigh)
                @Html.ValidationMessageFor(model => model.CreatedHigh)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>